
<div class="jumbotron">

  <h1 class="display-4">About US</h1>
  <div class="row">
    <div class="col-md-4">
      <p class="lead">Grounded in the latest opto-electronics and precision technologies, our products and solutions help build a better society. Get to know the real Cimon.
        cimon is famous for its cameras and binoculars, but we make a whole range of other products too.
        For example, did you know we manufacture equipment used to fabricate the semiconductors found in your PC and smartphone? And that we make measuring instruments that detect microscopic defects in electronic components? cimon technologies contribute to people's lives in ways you may never have imagined.
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../assets/images/about-1.jpg">
    </div>
  </div>
</div>
    